<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Timetable.RazorWeb.styles.css" asp-append-version="true" />
</head>
<body>
   <div>
    <div class="containeer">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="sidebar">
      <div class="icon">
        <a href="" class="sidebar-icon">🔔</a>
        <a href="#" class="sidebar-icon">تسجيل الخروج</a>
        <a href="#" class="sidebar-icon">⚙️</a>
      </div>
      <h3>بوابة الإدارة</h3>
      <a href="#" class="sidebar-link">وضع إعلان</a>
      <a href="#" class="sidebar-link">فتح باب الاستبيان</a>
      <a href="#" class="sidebar-link">برنامج الدوام العملي</a>
      <a href="/Admin/schedule" class="sidebar-link">برنامج الدوام النظري</a>
      <a href="/Admin/members" class="sidebar-link" >اعضاء الهيئة التدريسية</a>
      <a href="/Admin/practical-dept" class="sidebar-link">القسم العملي</a>
      <a href="/Admin/theo-dept" class="sidebar-link">القسم النظري</a>
      <a href="/Admin/class-room" class="sidebar-link">القاعات الدراسية</a>
      <a href="/Admin/courses" class="sidebar-link">المواد الدراسية</a>
      <a href="#" class="sidebar-link">اوقات المحاضرات</a>
      <a href="#" class="sidebar-link">الطلاب</a>
   </div>
  </div>
    

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>