@page
@model Timetable.RazorWeb.Pages.Admin.class_roomModel
@{
}

<div class="container">
    <div class="table-container">
        <table id="rooms-table">
            <tr>
                <th>العمليات</th>
                <th>اسم القاعة</th>
                <th>الصفة</th>
            </tr>
        </table>
    </div>
    <div class="form-container">
        <label for="room-name" class="field">: اسم القاعة الدراسية</label>
        <br>
        <input type="text" id="room-name">
        <br>
        <label for="room-type">: الصفة</label>
        <br>
        <select id="room-type">
            <option value="قاعة نظري">قاعة نظري</option>
            <option value="مخبر عملي">مخبر عملي</option>
        </select>
        <br>
        <button onclick="addRoom()">إضافة قاعة</button>
    </div>

</div>

@section Scripts {
    <script type="text/javascript" src="~/js/Admin/class-room.js"></script>
}