@page
@model Timetable.RazorWeb.Pages.Admin.coursesModel
@{
}


  <div class="container">
    <div class="main-content">
        
        <table id="courseTable">
          <thead>
            <tr>
              <th>العمليات</th>
              <th>لها عملي</th>
              <th>الفصل</th>
              <th>السنة</th>
              <th>الاسم</th>
            </tr>
          </thead>
          <tbody id="courseTableBody">
          </tbody>
        </table>
      </div>
    <div class="sidebar">
     
      <form id="courseForm">
        <div class="form-group">
          <label for="courseName">اسم المقرر:</label>
          <input type="text" id="courseName" name="courseName" required>
        </div>
        <div class="form-group">
          <label for="year">السنة:</label>
          <select id="year" name="year" required>
            <option value="الأولى">الأولى</option>
            <option value="الثانية">الثانية</option>
            <option value="الثالثة">الثالثة</option>
            <option value="الرابعة">الرابعة</option>
            <option value="الخامسة">الخامسة</option>
          </select>
        </div>
        <div class="form-group">
          <label for="semester">الفصل:</label>
          <select id="semester" name="semester" required>
            <option value="الأول">الأول</option>
            <option value="الثاني">الثاني</option>
          </select>
        </div>
        <div class="form-group">
          <label for="lectureCount">عدد المحاضرات الأسبوعية:</label>
          <input type="number" id="lectureCount" name="lectureCount" required>
        </div>
        <div class="form-group">
          <input type="checkbox" id="practical" name="practical">
          <label for="practical">يوجد له قسم عملي</label>
        </div>
        <div class="form-group" id="practicalCountGroup">
          <label for="practicalCount">عدد المحاضرات الأسبوعية للعملي:</label>
          <input type="number" id="practicalCount" name="practicalCount">
        </div>
        <button type="submit" id="addCourseBtn">إضافة مقرر</button>
      </form>
    </div>
  </div>


@section Scripts {
    <script type="text/javascript" src="~/js/Admin/courses.js"></script>
}
