@page
@model Timetable.RazorWeb.Pages.Admin.membersModel
@{
}
 

    <div class="container">
        <div class="table-container">
            <table id="teachers-table">
                <tr>
                    <th>العمليات</th>
                    <th>الاسم</th>
                    <th>الصفة</th>
                </tr>
            </table>
        </div>
        <div class="form-container">
            <label for="teacher-name" class="field">: الاسم</label>
            <br>
            <input type="text" id="teacher-name">
            <br>
            <label for="teacher-type">: الصفة</label>
            <br>
            <select id="teacher-type">
                <option value="رئيس قسم">رئيس قسم</option>
                <option value="مدرس عملي">مدرس عملي</option>
                <option value="عضو هيئة">عضو هيئة</option>
            </select>
            <br>
            <label for="teacher-name" class="field">: كلمة المرور</label>
            <br>
            <input type="password" id="password">
            <br>
            <button onclick="addteacher()">إضافة مدرس</button>
        </div>
        
    </div>



    
@section Scripts {
    <script type="text/javascript" src="~/js/Admin/members.js"></script>
}

