@page
@model Timetable.RazorWeb.Pages.Admin.practicalModel
@{
}


    <div class="container">
        <div class="table-container">
            <table id="rooms-table">
                <tr>
                    <th>العمليات</th>
                    <th>المخبر</th>
                    <th>المقرر</th>
                    <th>المدرس</th>
                </tr>
            </table>
        </div>
        <div class="form-container">
            <label for="teacher-name">: المدرس</label>
            <br>
            <select id="teacher-name">
                <option value="أحمد">أحمد</option>
                <option value="خالد">خالد</option>
            </select>
            <br>
            <label for="lecture"> : المقرر</label>
            <br>
            <select id="lecture">
                <option value="ذكاء">ذكاء</option>
                <option value="دارات">دارات</option>
            </select>
            <br>
            <label for="lab"> : المخبر</label>
            <br>
            <select id="lab">
                <option value="مخبر البرمجة">مخبر البرمجة</option>
                <option value="مخبر الذكاء">مخبر الذكاء</option>
            </select>
            <br>
          
            <button onclick="addRoom()">إسناد</button>
        </div>
        
    </div>


   @section Scripts {
    <script type="text/javascript" src="~/js/Admin/practical-dept.js"></script>
}

