@page
@model Timetable.RazorWeb.Pages.Admin.scheduleModel
@{
}
 <style>
   
   *{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  transition: all .4s ease-in-out;
  text-align: center;
  color: #4CAF50;
}

    table {
      border-collapse: collapse;
      width: 50%;
      margin: 3% 0 0 20%;
    }
    
    th, td {
      border: 1px solid #4CAF50;
      padding: 2px;
      width: 8px;
      max-width: 8px;
      height: 75px;
      
    }

    td:hover,:focus,:active {
      background-color: #f2f2f2;
    }
    
    th {
      background-color: #f2f2f2;
    }
    
    .edit-save-button {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
      margin:2% 0 0 25%;
      border-radius: 5px;
    }
    


  </style>

  <button id="editSaveButton" class="edit-save-button" onclick="toggleEditSave()">تعديل</button>
  
  <table id="myTable">
    <tr>
      <th>الخميس</th>
      <th>الأربعاء</th>
      <th>الثلاثاء</th>
      <th>الاثنين</th>
      <th>الأحد</th>
      <th>السبت</th>
      <th>الوقت</th>
    </tr>
    <tr>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <th>9 - 10:30</th>
    </tr>
     <tr>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <th>10:45-12:15</th>
    </tr>
    <tr>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <th>12:30 - 2</th>
    </tr>
    
    <tr>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <th>2:15 - 3:45</th>
    </tr>
    <tr>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <th>4 - 5:30</th>
    </tr>
    <tr>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <th>5:45 - 7:15</th>
    </tr>
  </table>
  
  <br>
  
 
  
  
  <script>
    var isEditing = false; 
    
    function toggleEditSave() {
      var button = document.getElementById("editSaveButton");
      var table = document.getElementById("myTable");
      var rows = table.getElementsByTagName("tr");
      
      if (isEditing) {
        
        for (var i = 0; i < rows.length; i++) {
          var cells = rows[i].getElementsByTagName("td");
          
          for (var j = 0; j < cells.length; j++) {
            cells[j].setAttribute("contenteditable", "false");
          }
        }
        
        button.innerHTML = "تعديل";
        isEditing = false; 
      } else {
       
        for (var i = 0; i < rows.length; i++) {
          var cells = rows[i].getElementsByTagName("td");
          
          for (var j = 0; j < cells.length; j++) {
            cells[j].setAttribute("contenteditable", "true");           }
        }
        
        button.innerHTML = "حفظ"; 
        isEditing = true; 
      }
    }
  </script>


