@page
@model Timetable.RazorWeb.Pages.Admin.scheduleModel
@{
}
 
<div>
  <button>حفظ</button>
  <button>توليد</button>
  <button id="editSaveButton" class="edit-save-button" onclick="toggleEditSave()">تعديل</button>
  </div>
  <table id="myTable">
    <tr>
      <th>الخميس</th>
      <th>الأربعاء</th>
      <th>الثلاثاء</th>
      <th>الاثنين</th>
      <th>الأحد</th>
      <th>السبت</th>
      <th>الوقت</th>
    </tr>
    <tr>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <th>9 - 10:30</th>
    </tr>
     <tr>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <th>10:45-12:15</th>
    </tr>
    <tr>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <th>12:30 - 2</th>
    </tr>
    
    <tr>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <th>2:15 - 3:45</th>
    </tr>
    <tr>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <th>4 - 5:30</th>
    </tr>
    <tr>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <td ></td>
      <th>5:45 - 7:15</th>
    </tr>
  </table>
  
  <br>
  
 
  
    @section Scripts {
    <script type="text/javascript" src="~/js/Admin/schedule.js"></script>
}
