* {

    padding: 0;
    margin-top: 2%;
    scroll-behavior: smooth;
    transition: all .4s ease-in-out;
    text-align: center;
    color: #fff;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 3% 0 0 20%;
    background-color: #2E8A99;
}

th, td {
    border: 1px solid #4CAF50;
    padding: 2px;
    width: 40px;
    max-width: 50px;
    height: 100px;
    font-size: 13px;
}



th {
    color: #4CAF50;
    background-color: #f2f2f2;
}

button {
    padding: 10px 20px;
    background-color: #1F6E8C;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    
    
}

.butt {
    margin-right: 70px;
    margin-bottom: -70px;

}

 button:hover {
    background-color: blue;
}


 .generate {
     clear: both;
     display: block;
     margin-top: 10px;
     margin-left: 20px;
 }





form .form-group {
    display: inline-block;
    margin-bottom: 10px;
    padding-right:20px; 
    /*text-align-last: start;*/
}


