@{
}
<style>
    #logoutBtn:hover {
        color: cornflowerblue !important;
    }
</style>

<form asp-page="/Account/Logout" method="post">
    <button id="logoutBtn" type="submit" style="
            background: none!important;
                border: none;
                padding: 0!important;
                color: lightblue;
                text-decoration: none;
                cursor: pointer;
                transition: all ease-in-out 0.1s
              ">
        تسجيل خروج
    </button>
</form>