@page
@model Timetable.RazorWeb.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<form>
    <label for="teacher-name" class="field">: اسم المستخدم</label>
    <br>
    <input type="text" id="teacher-name">
    <br>
    <label for="teacher-name" class="field">: كلمة المرور</label>
    <br>
    <input type="password" id="password">
    <br>
    <button onclick="addteacher()">تسجيل دخول</button>
</form>