/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}


.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: none;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


.sidebar {
    background-color: #1F6E8C;
    width: 20%;
    height: 84vh;
    position: fixed;
    top: 54px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    border-radius: 5px;
}

h3 {
    color: white;
    margin-bottom: 20px;
}

.icon {
    margin-bottom: 20px;
}

.sidebar-icon {
    color: #fff;
    font-size: 15px;
    margin-right: 3px;
    text-decoration: none;
}

.sidebar-link {
    color: #FFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #fff;
}

.sidebar .icon {
    display: inline-block;
}
