@using Microsoft.AspNetCore.Identity;
@using System.ComponentModel.DataAnnotations;
@inject UserManager<User> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Timetable.RazorWeb.styles.css" asp-append-version="true" />

</head>
<body>
    <div>
        <div class="containeer">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <div class="sidebar">
            <h3>بوابة المدرس</h3>
            @{
                User? teacher = @UserManager.GetUserAsync(User).Result;

                var displayAttribute = teacher?.Type.GetType()
                ?.GetField(teacher?.Type.ToString())
                ?.GetCustomAttributes(typeof(DisplayAttribute), false)
                .SingleOrDefault() as DisplayAttribute;
                var teacherType = displayAttribute?.Name ?? teacher.Type.ToString();

                if (teacher?.Type == UserTypeEnum.LapTeacher)
                {
                    <h4 class="text-success">أ. @teacher?.Name</h4>
                }
                else
                {
                    <h4 class="text-success">د. @teacher?.Name</h4>
                }



                <h6 class="text-success">الصفة: @teacherType</h6>
            }

            <div class="icon">
                @await Html.PartialAsync("../PartialViews/_Logout")
            </div>
            <a asp-page="./Courses" class="sidebar-link">مقرراتي الدراسية</a>
            <a asp-page="" class="sidebar-link">اختيار الأوقات المفضلة (الاستبيان)</a>
            <a asp-page="" class="sidebar-link">اختيار القاعات المفضلة</a>
        </div>
    </div>


    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>